<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groovify - Plataforma de Música</title>
  <link rel="stylesheet" href="{% static 'css/css2.css' %}">
</head>
<body>
  <!-- Barra de navegación -->
  <header class="navbar">
    <div class="logo">
      <br>
      <h1>Groovify</h1>
      <br>
    </div>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Buscar</a></li>
        <li><a href="#">Mis Listas</a></li>
        <li><a href="#">Perfil</a></li>
      </ul>
    </nav>
  </header>

  <!-- Sección principal -->
  <main>
    <section class="featured-song">
      <h2>Lista de Canciones</h2>
      <ul class="song-list">
        {% for file in audio_files %}
          <li class="song-item" data-file="{% static 'audio/' %}{{ file }}">
            {{ file|slice:":-4" }} <!-- Muestra el nombre sin la extensión -->
          </li>
        {% endfor %}
      </ul>
    </section>
    <br>
    <br>
    <!-- Reproductor -->
    <section id="player" class="player">
      <div id="player_controls" class="player-controls">
        <button id="player_back">⏮️</button>
        <button id="player_play">▶️</button>
        <button id="player_pause">⏸</button>
        <button id="player_stop">⏹️</button>
        <button id="player_skip">⏭️</button>
      </div>
      <div id="song_info" class="song-info">
        <p>Selecciona una canción para reproducir</p>
      </div>
      <input id="progressbarSong" type="range" min="0" max="100" value="0" class="progress-bar">
    </section>
  </main>

  <!-- Script -->
  <script>
    const playlist = [];
    document.querySelectorAll('.song-item').forEach(item => {
      playlist.push(item.dataset.file); // Agrega las rutas a la lista de reproducción
    });
  </script>
  <script src="{% static 'js/dashboardUser.js' %}"></script>

  <footer>
    <p>&copy; 2024 Groovify. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
