<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/css1.css' %}">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
  <div class="form-container">
    <h2>Iniciar sesión</h2>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <input type="email" name="email" placeholder="Correo Electrónico" required>
      <input type="password" name="password" placeholder="Contraseña" required>
      <button type="submit">Iniciar sesión</button>
    </form>
    <br>
    <br>
    <a href="{% url 'register_user' %}">Registrarme como usuario</a>
    <p id="error-message"></p>
  </div>
</body>
</html>
