<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/css1.css' %}">
</head>
<body>
  <div class="form-container">
    <h2>Iniciar sesión</h2>
    <form id="login-form">
      <input type="email" id="email" placeholder="Correo Electrónico" required>
      <input type="password" id="password" placeholder="Contraseña" required>
      <button id="submitLogin" type="submit">Iniciar sesión</button>
    </form>
    <br>
    <br>
    <a href="{% url 'register_user' %}">Registrarme como usuario</a>
    <p id="error-message"></p>
  </div>

  <script type="module" src="{% static 'js/login.js' %}"></script>
</body>
</html>
