/* Reset de estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #011C26;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  /* Para que header se coloque encima de main */
  height: 100vh;
  overflow-x: hidden;
}

/* Barra de navegación */
header {
  background-color: #222;
  color: #fff;
  padding: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
  /* Asegura que ocupe todo el ancho */
}

header .logo h1 {
  margin: 0;
}

/* Barra de navegación */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: #FFF;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: #048ABF;
  color: #011C26;
  border-radius: 5px;
}

/* Sección principal */
main {
  display: flex;
  flex-direction: column;
  /* Asegura que los elementos de main se alineen verticalmente */
  flex: 1;
  /* Ocupa el espacio restante de la pantalla */
  padding: 20px;
}

/* Contenedor de canciones y reproductor */
.featured-song-player {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex: 1;
}

/* Sección de canciones */
.featured-song {
  flex: 1;
  /* Cada sección ocupa la mitad del espacio disponible */
  background-color: #222;
  color: #04C4D9;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  text-align: center;
}

.song-item {
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  color: #BF0449;
  background-color: #048ABF;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.song-item:hover {
  background-color: #04C4D9;
  color: #011C26;
}

/* Reproductor */

.player {
  flex: 1;
  /* Cada sección ocupa la mitad del espacio disponible */
  background-color: #222;
  color: #04C4D9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.player img {
  width: 250px;
  margin-bottom: 15px;
}

.player-controls button {
  background-color: #048ABF;
  border: none;
  color: #FFFFFF;
  font-size: 24px;
  margin: 0 10px;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.player-controls button:hover {
  background-color: #04C4D9;
}

.progress-bar {
  width: 100%;
  margin-top: 10px;
  background-color: #444;
  height: 8px;
  border-radius: 5px;
  outline: none;
  appearance: none;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #04C4D9;
  border-radius: 50%;
  cursor: pointer;
}

.progress-bar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #04C4D9;
  border-radius: 50%;
  cursor: pointer;
}

/* Sección de géneros musicales y artistas en paralelo */
.featured-genere-artist {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.featured-genere,
.featured-artist {
  flex: 1;
  background-color: #222;
  color: #04C4D9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.artist-list,
.genere-list {
  list-style: none;
  padding: 0;
}

.artist-item,
.genere-item {
  background-color: #048ABF;
  color: #BF0449;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
}

.artist-item:hover,
.genere-item:hover {
  background-color: #04C4D9;
  color: #011C26;
}

/* Footer */
footer {
  margin-top: 50px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #222;
  padding: 10px 0;
  border-top: 2px solid #011C26;
  text-align: center;
  width: 100%;
}