/* Reset de estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globales */
body {
  background-image: url('/static/img/logo-player-100.jpg');
  background-color: #011C26;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

/* Estilo de los encabezados */
h1 {
  font-size: 70px;
  margin: 0;
  text-align: left;
}

/* Contenedor para el logo y título */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_ugb {
  display: block;
  width: 15%;
  margin-right: 27%;
}

/* Barra de navegación */
header {
  background-color: #222;
  color: #FFF;
  padding: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  color: #FFF;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: #048ABF;
  color: #011C26;
  border-radius: 5px;
}

/* Sección principal y layout general */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.featured-song-player {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex: 1;
}

/* Sección de canciones */
.featured-song {
  flex: 1;
  background-color: #222;
  color: #04C4D9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.song-list {
  max-height: 520px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #048ABF;
  border-radius: 5px;
  background-color: #222;
}

/* Personalización del scroll */
.song-list::-webkit-scrollbar {
  width: 8px;
}

.song-list::-webkit-scrollbar-track {
  background: #444;
}

.song-list::-webkit-scrollbar-thumb {
  background: #04C4D9;
  border-radius: 5px;
}

.song-list::-webkit-scrollbar-thumb:hover {
  background: #048ABF;
}

.song-item {
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  color: #BF0449;
  background-color: #048ABF;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.song-item:hover {
  background-color: #04C4D9;
  color: #011C26;
}

/* Reproductor */
.player {
  flex: 1;
  background-color: #222;
  color: #04C4D9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.player img {
  width: 250px;
  margin-bottom: 15px;
}

.player-controls button {
  background-color: #048ABF;
  width: 60px;
  border: none;
  color: #FFF;
  font-size: 24px;
  margin: 0 10px;
  padding: 12px;
  padding-bottom: 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.player-controls button:hover {
  background-color: #04C4D9;
}

.progress-bar {
  width: 100%;
  margin-top: 10px;
  background-color: #444;
  height: 8px;
  border-radius: 5px;
}

.progress-bar::-webkit-slider-thumb,
.progress-bar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #04C4D9;
  border-radius: 50%;
  cursor: pointer;
}

/* Sección de géneros musicales y artistas */
.featured-genere-artist {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.featured-genere,
.featured-artist {
  flex: 1;
  background-color: #222;
  color: #04C4D9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.artist-list,
.genere-list {
  list-style: none;
  padding: 0;
}

.artist-item,
.genere-item {
  background-color: #048ABF;
  color: #BF0449;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
}

.artist-item:hover,
.genere-item:hover {
  background-color: #04C4D9;
  color: #011C26;
}

/* Footer */
footer {
  margin-top: 50px;
  font-size: 14px;
  color: #FFF;
  background-color: #222;
  padding: 10px 0;
  border-top: 2px solid #011C26;
  text-align: center;
  width: 100%;
}

/* Formulario de búsqueda */
.search-form {
  margin-bottom: 20px;
  text-align: center;
}

.search-input {
  padding: 10px;
  width: 70%;
  font-size: 16px;
  border: 1px solid #048ABF;
  border-radius: 5px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #048ABF;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #04C4D9;
}
