/* Reset de estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #011C26;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: inherit;
}

header,
footer {
  background-color: #222;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: #FFF;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: #048ABF;
  color: #011C26;
  border-radius: 5px;
}

/* Sección principal */
main {
  padding: 20px;
}

/* Sección de canciones destacadas */
.featured-song {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #04C4D9;
  border-radius: 10px;
}

.featured-artist {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #04C4D9;
  border-radius: 10px;
}

.featured-song h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.song-list {
  margin: 20px auto;
  padding: 10px;
  background-color: #011C26;
  border-radius: 10px;
  max-width: 600px;
}

.song-item {
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  color: #BF0449;
  background-color: #048ABF;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.artist-list {
  display: flex;
  margin: 20px auto;
  padding: 10px;
  background-color: #011C26;
  border-radius: 10px;
  max-width: 600px;
}

.artist-item {
  padding: 15px;
  margin: 10px 10px;
  font-size: 18px;
  color: #BF0449;
  background-color: #048ABF;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.song-item:hover {
  background-color: #04C4D9;
  color: #011C26;
}

/* Reproductor */
.player {
  background-color: #222;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.player-controls button {
  background-color: #048ABF;
  border: none;
  color: #FFFFFF;
  font-size: 24px;
  margin: 0 10px;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.player-controls button:hover {
  background-color: #04C4D9;
}

.song-info p {
  margin: 10px 0;
  font-size: 20px;
}

/* Barra de progreso */
.progress-bar {
  width: 100%;
  margin-top: 10px;
  background-color: #444;
  height: 8px;
  border-radius: 5px;
  outline: none;
  appearance: none;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #04C4D9;
  border-radius: 50%;
  cursor: pointer;
}

.progress-bar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #04C4D9;
  border-radius: 50%;
  cursor: pointer;
}

footer {
  margin-top: 50px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #222;
  padding: 10px 0;
  border-top: 2px solid #011C26;
}

.portada-song {
  width: 250px;
}