body {
    background-image: url('/static/img/logo-player-100.jpg');
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #007BFF;
    font-size: 100px;
    margin-bottom: 20px;
}

a {
    padding: 20px;
    border-radius: 15px;
    background-color: black;
    margin: 10px;
    text-decoration: none;
    color: #BF0449;
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
}
